<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

<!-- check which browser user is using, and show alert if it is IE11 or older version  -->
<script type="text/javascript">
	var ua = window.navigator.userAgent;
	if(ua.indexOf('MSIE') != -1 || ua.indexOf('Trident/') != -1){
		alert("Internet Explorer 11 and older version of IE is not supported anymore. please use Edge or other browser.");
	}
</script>
<%= javascript_pack_tag 'main' %>
<div id='hello'> 
 <app></app>
</div>